<div class="main_slider" style="background-image: url(../../Content/Images/wallpaper.jpg)">
<div class="container fill_height">
    <div class="row align-items-center fill_height">
        <div class="col">
            <div class="main_slider_content">
                <h6>Oyster Perpetual 2018</h6>
                <h1>Explore new century watches</h1>
                <div class="red_button shop_now_button"><a href="/product/list">shop now</a></div>
            </div>
        </div>
    </div>
</div>
</div>

